#bodyHomePage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "section header aside"
    "nav nav nav"
    "main main main"
    "footer footer footer";
  align-items: center;
  justify-items: center;
  height: 97vh;
}
#section {
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 15vw;
}
#headerHomePage {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0;
  width: 40vw;
}
aside {
  grid-area: aside;
}
#navHomePage {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  height: 20vh;
}
main {
  grid-area: main;
  width: 90vw;
  display: flex;
  justify-content: center;
}
footer {
  grid-area: footer;
  margin-top: 10%;
}
#infoText {
  font-size: 20px;
  font-family: sans-serif;
}
#imgLeagueLogo {
  background-color: aliceblue;
  border-radius: 5%;
  padding: 5%;
  margin-top: 5%;
  width: 150px;
}
#table {
  width: 80vw;
}
#headerTitle {
  font-size: 40px;
  text-align: center;
}
#subHeader {
  text-align: center;
  font-size: 25px;
}
.imgLeagueHome {
  margin-right: 10px;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}
.flip-container {
  width: 80vw;
  perspective: 1000px;
}
.flipper {
  transform-style: preserve-3d;
  animation: spin 15s linear infinite;
}
.front,
.back {
  width: 20px;
  height: 20px;
  position: absolute;
  backface-visibility: hidden;
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.leagueLinks {
  align-items: center;
  margin: 20px;
}
#divHome {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.divButtons {
  display: inline;
  flex-direction: column;
  margin-bottom: 10px;
}
#figureArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 70vw;
}
#canvasDiv {
  justify-content: center;
  align-items: center;
}
#canvasContext {
  width: 900px;
}
article {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#homeButtonImg {
  width: 50px;
}
#homeText {
  color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.teamBtn {
  margin-right: 5px;
  border: 1px solid white;
}
.coachName {
  text-align: center;
  margin-top: 10px;
}
.favouriteDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tableTeams {
  color: rgba(240, 248, 255, 0.89);
}
.tableTeams:hover {
  color: black;
}
.cellTeams:hover {
  background-color: grey;
  cursor: pointer;
}
.favTeamLogo {
  width: 150px;
  margin-bottom: 5%;
}
.favTeamName {
  font-size: 20px;
}
.playerDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: x-large;
}
