body {
  background-color: green;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
a:hover {
  color: antiquewhite;
}

.hidden {
  display: none;
}

.pStyle {
  cursor: pointer;
}
#bodyHomePage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header"
    "nav";
  align-items: center;
  justify-items: center;

  height: 97vh;
  /* border: 1px solid black; */
}
#headerHomePage {
  grid-area: header;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 5px;
  /* border: 1px solid black; */
  margin: 0;
  width: 70vw;
  /* margin-top: 150px; */
}
#navHomePage {
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 1px solid black; */
  width: 90vw;
  padding: 10px;
  margin-bottom: 20px;
}
#h1Home {
  font-size: 40px;
  text-align: center;
}
#pHome {
  text-align: center;
  font-size: 25px;
}
.imgHome {
  margin-right: 10px;
  /* border: 1px solid black; */
  /* justify-content: space-between; */
  padding: 10px;
  margin: 5px;
  width: 150px;
  border-radius: 10px;
  /* transform: rotate(45deg); */
  /* animation: spin 10s linear infinite; */
}
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.flip-container {
  /* width: 150px;
  height: 150px; */
  width: 80vw;
  perspective: 1000px; /* Enables 3D effect */
}
.flipper {
  /* width: 50%;
  height: 50%; */
  transform-style: preserve-3d; /* Keeps 3D children */
  animation: spin 10s linear infinite;
  /* transition: transform 0.6s;  */
}
/* .flip-container:hover .flipper {
  transform: rotateY(180deg);
} */
.front,
.back {
  width: 20px;
  height: 20px;
  position: absolute;
  backface-visibility: hidden; /* Hide the back when front is visible */
}
.front {
  /* background-color: skyblue; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 20px; */
  /* font-weight: bold; */
}
.back {
  /* background-color: lightcoral; */
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 20px;
  font-weight: bold; */
}

@keyframes spin {
  from {
    transform: rotateY(0deg); /* Start position */
  }
  to {
    transform: rotateY(360deg); /* Full rotation */
  }
}
.aHome {
  /* border: 1px solid black; */
  align-items: center;
  margin: 20px;
}
#divHome {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* background-color: aliceblue; */

  /* border: 1px solid black; */
}
#myChart {
  width: 50vw;
}
#homeImg {
  width: 40px;
}
.tableDiv {
  margin-bottom: 4px;
  border: 1px solid black;
}
.teamBtn {
  margin-right: 5px;
}
.favouriteDiv {
  /* display: none; */
}
#myTable {
}
/* .tableTeams:hover {
  background-color: aliceblue;
} */
.tableTeams {
  color: rgba(240, 248, 255, 0.723);
}
.cellTeams:hover {
  background-color: grey;
  cursor: pointer;
}
